

      <!-- ************* -->
      <!--      LIST     -->
      <!-- ************* -->
      <div ng-if="!lead && !crudLead && !leads"> <app-loading></app-loading> </div>
      <div id="list" ng-if="leads" ng-include="'/angularjs/module/lead/list.html'"></div>

      <!-- ************* -->
      <!--     DETAIL    -->
      <!-- ************* -->
      <div id="detail" ng-if="lead" ng-include="'/angularjs/module/lead/detail.html'"></div>

      <!-- ************* -->
      <!--     CRUD      -->
      <!-- ************* -->
      <div id="crud" ng-if="crudLead" ng-include="'/angularjs/module/lead/crud.html'"></div>