<div class="row">
	<div class="col-sm-12">
		<!-- LIST -->
		<table class="table table-striped table-hover" style="margin-top: 12px;" ng-if="!media">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Type</th>
				</tr>			
			</thead>
			<tbody>
				<tr ng-repeat="media in lead.medias">
					<td>{{media.id}}</td>
					<td><a href="/proposals/medias/{{media.id}}/pdf">{{media.name}}</a></td>
					<td>{{media.type}}</td>
				</tr>
			</tbody>
		</table>


		<div th:if="${message}">
			<h2 th:text="${message}"/>
		</div>


		<input ng-if="uploader.queue.length <= 0" type="file" name="file" nv-file-select uploader="uploader" multiple="multiple" /><br/>
		<ul ng-repeat="item in uploader.queue">
			<li >
				<span ng-bind="item.file.name"></span><br/>
			</li>
		</ul>

		<div>
			<div>
				<div class="progress" style="">
					<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
				</div>
			</div>
			<button type="button" class="btn btn-success btn-s" ng-click="uploadd(uploader, lead)" ng-disabled="!uploader.getNotUploadedItems().length">
				<span class="glyphicon glyphicon-upload"></span> Upload all
			</button>
			<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
				<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
			</button>
			<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
				<span class="glyphicon glyphicon-trash"></span> Remove all
			</button>
		</div>
	</div>

</div>