/target/
/.classpath
/.project
/.settings/
/tmp.pdf
/George Silva - 9847 Lake Shore Dr, Montgomery Village, Mr, 20886 - proposal #2.pdf
/Michael Ross - 2616 Memorial St, Alexandria, Virginia 22306 - proposal #1.pdf
/Michael Ross - 2616 Memorial St, Alexandria, Virginia 22306 - proposal #2.pdf
/George Silva - 9847 Lake Shore Dr, Montgomery Village, Mr, 20886 - proposal #3.pdf
/lead-1.1.0.jar
