
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span ng-if="!lead.person.name && !lead.company.name">New Lead</span> <span ng-if="lead.person.name || lead.company.name">Edit {{lead.company.name}} {{lead.person.name}}</span> </h3>
  </div>
  <div class="panel-body"><form class="form-horizontal">

    <div class="form-group">
      <label for="company" class="col-sm-2 control-label">Company</label>
      <div class="col-sm-10">
        <select id="company" class="form-control" ng-options="company as company.name for company in companies track by company.id" ng-model="lead.company"></select>
      </div>
      <label for="contact" class="col-sm-2 control-label">Contact</label>
      <div class="col-sm-10">
        <select id="contact" class="form-control" ng-options="person as person.name for person in persons track by person.id" ng-model="lead.contact"></select>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="text" placeholder="Name" ng-model="lead.person.name">
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="address" placeholder="Address" ng-model="lead.person.address">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="lead.person.email">
      </div>
    </div>

    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="lead.person.phone">
      </div>
    </div>

    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="list()">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="">Save</button>
      </div>
    </div>


  </form>


</div>
</div>
