

			<!-- LIST -->
			<table class="table table-striped" ng-if="!invitation">
				<tr>
					<th colspan="5"><h3 class="panel-title">Invitations <a style="margin-left: 12px;" title="New Invitation" ng-click="invitationCrud({})" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h3></th>
				</tr>
				<tr ng-repeat="invitation in lead.invitations">
					<td>{{invitation}}</td>
				</tr>
			</table>


			<!-- CRUD -->
			<div class="panel panel-default" ng-if="invitation">
				<div class="panel-heading">
					<h3 class="panel-title"><span ng-if="!invitation.id">New Invitation</span> <span ng-if="invitation.id">Edit Invitation</span> </h3>
				</div>
				<div class="panel-body"><form class="form-horizontal">
					<div class="form-group">
						<label for="94kfk49r" class="col-sm-2 control-label">SC Due Date</label>
						<div class="col-sm-10">
							<input  autofocus type="text" class="form-control" id="94kfk49r" placeholder="mm/dd/yyyy hh:mm" ng-model="invitation.dueDate">
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">Companies</label>
						<div class="col-sm-10">
							<select class="form-control" multiple="multiple" size="10"></select>	
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="col-sm-2 control-label"></label>
						<div class="col-sm-2">
							<button type="button" class="btn btn-secondary btn-block"  ng-click="invitationCancel()">Cancel</button>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-primary btn-block"  ng-click="invitationSave(invitation)">Save</button>
						</div>
					</div>


				</form>


			</div>
		</div>

