<!doctype html>
<html lang="en">
<head>
  <meta charset="ISO-8859-1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Leads DC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  <!-- BOOSTSTRAP -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
  integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
  crossorigin="anonymous"></script>

  <!-- ANGULARJS -->
  <script src="/js/angularjs/1.4.3/angular.min.js"></script>
  <script src="/js/company.js"></script>

</head>
<body ng-app="company">
  <div class="container" ng-controller="CompanyController">
    <div class="row" ng-include="'/header.html'"></div>
    <div class="row" ng-include="'/menu.html'"></div> 
    <div class="row">

      <!-- LIST -->
      <table class="table table-striped" ng-if="!company">
        <tr>
          <th colspan="5"><h3 class="panel-title">Companies <a style="margin-left: 12px;" title="New Company" ng-click="crud({})" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h3></th>
        </tr>
        <tr ng-repeat="company in companies">
          <td><a title="Edit {{company.name}}" ng-click="crud(company)" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span></a></td>
          <td>{{company.name}}</td>
          <td>{{company.email}}</td>
          <td>{{company.address}}</td>
          <td>{{company.website}}</td>
        </tr>
      </table>

      <!-- CRUD -->
      <div class="panel panel-default" ng-if="company">
        <div class="panel-heading">
          <h3 class="panel-title"><span ng-if="!company.name">New Company</span> <span ng-if="company.name">Edit {{company.name}}</span> </h3>
        </div>
        <div class="panel-body"><form class="form-horizontal">

          <div class="form-group">
            <label for="94kfk49r" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input  autofocus type="text" class="form-control" id="94kfk49r" placeholder="Name" ng-model="company.name">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Email" ng-model="company.email">
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="address" placeholder="Address" ng-model="company.address">
            </div>
          </div>
          <div class="form-group">
            <label for="website" class="col-sm-2 control-label">Website</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="website" placeholder="Website" ng-model="company.website">
            </div>
          </div>

          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label"></label>
            <div class="col-sm-2">
              <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" ng-click="cancel()">Cancel</button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="save(company)">Save</button>
            </div>
          </div>


        </form>


      </div>
    </div>



  </div>
</div>
</body>
</html>