<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>All's Contracting Leads</title>

<!-- BOOSTSTRAP -->
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<script src="bootstrap/jquery-3.5.1.slim.min.js"></script>
<script src="bootstrap/popper.min.js"></script>
<script src="bootstrap/bootstrap.min.js"></script>

<!-- ANGULARJS -->
<script src="js/angularjs/1.4.3/angular.min.js"></script>
<script src="js/leads.js"></script>

</head>
<body ng-app="leads">
  <div class="container -fluid" ng-controller="MainController">
    <div class="row">
      <div class="col">
      
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="skd8KjsiLLJ9k-tab" data-toggle="tab" href="#skd8KjsiLLJ9k" role="tab" aria-controls="skd8KjsiLLJ9k" aria-selected="true">Leads</a></li>
          <li class="nav-item"><a class="nav-link" id="sioiI78YUhyiishj-tab" data-toggle="tab" href="#sioiI78YUhyiishj" role="tab" aria-controls="sioiI78YUhyiishj" aria-selected="false">Upload File</a></li>
          <!-- <li class="nav-item"><a class="nav-link" id="wowj9948skoIHPP987HJo4-tab" data-toggle="tab" href="#wowj9948skoIHPP987HJo4" role="tab" aria-controls="wowj9948skoIHPP987HJo4" aria-selected="false">Proposal</a></li> -->
        </ul>
        <div class="tab-content" id="myTabContent" style="padding-top: 12px;">
          <div class="tab-pane show active col" id="skd8KjsiLLJ9k" role="tabpanel" aria-labelledby="skd8KjsiLLJ9k-tab">
            <div class="row" id="leads-list" ng-if="showLeads" ng-include="'lead/list.html'"></div>
            <div class="row" id="lead-details" ng-if="!showLeads" ng-include="'lead/details.html'"></div>
          </div>
          <div class="tab-pane show col" id="sioiI78YUhyiishj" role="tabpanel" aria-labelledby="sioiI78YUhyiishj-tab" ng-include="'upload-file.html'"></div>
          <!-- <div class="tab-pane show col" id="wowj9948skoIHPP987HJo4" role="tabpanel" aria-labelledby="wowj9948skoIHPP987HJo4-tab" > sdksn sdk</div> -->
        </div>
        
      </div>
    </div>
  </div>
</html>