<div class="panel panel-default col-sm-6 ">
  <div class="panel-body">
    <h5>Upload Lead File</h5>
    <form action="file/upload" method="post" enctype="multipart/form-data">
      <p>
        <input type="file" name="file" id="file" class="btn btn-primary ">
      </p>
      <p>
        Select Lead Source<br> <input type="radio" id="homeadvisor" name="vendor" ng-model="radio_vendor" value="HOME_ADVISOR"> <label for="homeadvisor">Home
          Advisor</label><br> <input type="radio" ng-model="radio_vendor" id="networx" name="vendor" value="NETWORX"> <label for="networx">Networx</label>
      </p>
      <p>
        <input type="submit" value="Upload" name="submit" class="btn btn-primary " ng-if="radio_vendor">
      </p>
    </form>
    <p></p>
  </div>
</div>