<a href="#" class="btn btn-outline-info" ng-click="exibitLeads()">Show Leads</a>
<div class="card" style="width: 100%;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <strong>{{lead.client.name}} <a href="#" class="btn btn-sm btn-outline-info">Edit</a></strong>
      </h3>
    </div>
    <div class="panel-body">
      <!-- LEAD DETAILS -->
      <div class="col-sm-5">
        <address>
          Source: <i>{{lead.vendor}}</i><br> {{lead.client.phone.slice(0,3)}}-{{lead.client.phone.slice(3,6)}}-{{lead.client.phone.slice(6)}}<br>
          {{lead.client.email}}<br> {{lead.client.address}}
        </address>
        <p ng-if="lead.visit">
          Visit scheduled for: <strong>{{lead.visit | date:'MMMM dd, yyyy @hh:mm'}}</strong>
        </p>
      </div>
      <div class="col-sm-4">
        <small><i>{{lead.type}}</i></small> <br> <small>{{lead.description}}</small>
      </div>

      <!-- MENU -->
      <div class="col-sm-3">
        <div class="list-group" ng-repeat="event in lead.nextEvents">
          <span ng-switch="event"> <a ng-switch-when="SCHEDULE_VISIT" href="#" class="list-group-item list-group-item-action" data-toggle="modal"
            data-target="#exampleModal">SCHEDULE_VISIT</a> <a ng-switch-default href="#" class="list-group-item list-group-item-action" ng-click="fireEvent(lead, event)">{{event}}</a>
          </span>
        </div>
      </div>
      <div class="col-sm-12">
        <!-- BOTTOM NAV TABS -->
        <span style="margin-top: 6px;" ng-include="'lead/details/nav-tabs.html'"></span>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-include="'lead/list/schedule-modal.html'"></div>




