<div class="row">
  <!-- LEAD DETAILS -->
  <div class="col-sm-12">
    <table class="table table-striped" style="margin-top: 12px;">
      <thead>
        <tr>
          <th>#</th>
          <th>Price ($)</th>
          <th>E-mailed</th>
          <th>PDF</th>
          <th>RTF</th>
          <th>Email Proposal</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="prop in lead.proposals">
          <th scope="row">{{prop.number}}</th>
          <td>{{prop.formattedTotal}}</td>
          <td><input ng-if="prop.emailed" type="checkbox" checked readonly disabled class="" /></td>
          <td><a href="proposals/{{prop.id}}/pdf"><span class="glyphicon glyphicon-download-alt" title="Download PDF" aria-hidden="true"></span></a></td>
          <td><a href="proposals/{{prop.id}}/rtf"><span class="glyphicon glyphicon-download-alt" title="Download RTF" aria-hidden="true"></span></a></td>
          <td><a href="#" class="btn btn-primary btn-sml" ng-click="emailProposal(lead.client, prop, lead)">Email Proposal #{{prop.number}}</a>&nbsp;</td>
          <td><a ng-if="!prop.emailed" href="#" class="btn btn-sml btn-success" ng-click="editProposal(prop)" data-toggle="modal" data-target="#Ij3738hH33">Edit</a>&nbsp;</td>
          <td><a ng-if="!prop.emailed" href="#" class="btn btn-sml btn-danger" ng-click="deleteProposal(lead, prop)">Delete</a>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="btn btn-sml btn-default" ng-click="createProposal()" data-toggle="modal" data-target="#Ij3738hH33">Create Proposal</a>
    <div ng-include="'lead/details/nav-tabs-proposal-modal-edit-create.html'"></div>
  </div>
</div>
