<!doctype html>
<html lang="en"><head>
  <meta charset="ISO-8859-1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Leads DC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  <!-- DATATABLES -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">


  <!-- BOOSTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
  integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
  crossorigin="anonymous"></script>

<!-- ANGULARJS -->
<script src="/js/angularjs/1.4.3/angular.min.js"></script>
<script src="/js/angularjs/angular-file-upload.min.js"></script>

<!-- JS FILES -->
<script src="/app/service/proposal-service.js"></script>
<script src="/app/service/user-service.js"></script>
<script src="/app/service/person-service.js"></script>
<script src="/app/service/company-service.js"></script>
<script src="/app/service/lead-service.js"></script>

<script src="/app/client.js"></script>

</head>

<body ng-app="client">
  <div class="container" ng-controller="ClientController">
    <div class="" ng-include="'/include/header.html'"></div>
    <div class="" ng-include="'/include/menu.html'"></div> 
    <div class="">

      <!-- LIST -->
      <div ng-if="!client" >
        
        <a style="margin-bottom: 6px;" title="New Client" ng-click="crud({})" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Client</a>

        <table id="94irjrn494h" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Company</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="client in clients">
              <td><a title="Edit {{client.name}}" ng-click="crud(client)" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span></a></td>
              <td>{{client.name}}</td>
              <td>{{client.email}}</td>
              <td>{{client.address}}</td>
              <td>{{client.phone}}</td>
              <td>{{client.company.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>



      <!-- CRUD -->
      <div class="panel panel-default" ng-if="client">
        <div class="panel-heading">
          <h3 class="panel-title"><span ng-if="!client.name">New Client</span> <span ng-if="client.name">Edit {{client.name}}</span> </h3>
        </div>
        <div class="panel-body"><form class="form-horizontal">

          <div class="form-group">
            <label for="94kfk49r" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input  autofocus type="text" class="form-control" id="94kfk49r" placeholder="Name" ng-model="client.name">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Email" ng-model="client.email">
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="client.phone">
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="address" placeholder="Address" ng-model="client.address">
            </div>
          </div>
          <div class="form-group">
            <label for="company" class="col-sm-2 control-label">Company</label>
            <div class="col-sm-10">         
              <select id="company" class="form-control"  ng-model="client.company" ng-options="c as c.name for c in companies track by c.id ">
                <option value="choose a value">-- please choose a Company --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label"></label>
            <div class="col-sm-2">
              <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" ng-click="cancel()">Cancel</button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="save(client)">Save</button>
            </div>
          </div>


        </form>


      </div>
    </div>








  </div>
</div>
</body>
</html>