<div ng-if="leads">
  <table class="table table-sm table-striped">
    <tr>
      <td>
        <h3 style="margin-top: 0px">
          {{totalLeads}} Leads
          <small style="font-size: 0.5em" ng-if="leadsTotalPrice > 0">
            {{leadsTotalPrice | currency}}
          </small>
          <a title="Reload" href="#" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true" title="Reload"
              ng-click="reload(filter.event, filter.searchText)"></span>
          </a>
          <a data-toggle="modal" data-target="#lead-new-modal" title="new Lead" href="#" class="btn btn-sm btn-default"
            ng-click="crud({})">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Create new Lead"></span>
          </a>
        </h3>
      </td>
      <td>
        <button class="btn btn-success btn-sm" ng-click="getNextListRange(-1)">
          &lt;&lt;
        </button>
        &nbsp;
        <button class="btn btn-success btn-sm" ng-click="getNextListRange(1)">
          &gt;&gt;
        </button>
      </td>
      <td style="" nowrap="nowrap" width="30%"><input type="text" class="form-control"
          style="display: inline; position: relative; z-index: 2; float: left;" placeholder="Search"
          autofocus="autofocus" ng-model="filter.searchText" ng-change="applyFilter(filter.event, filter.searchText)" />
        <span ng-if="searching"
          style="position: relative; left: -46px; top: 6px; z-index: 25; display: inline; color: rgb(168, 64, 104);">wait...</span>
      </td>
      <td>
        <select class="form-control" ng-options="et.name as et.status for et in events" ng-model="filter.event"
          ng-change="applyFilter(filter.event, filter.searchText)">
          <option value="">Select...</option>
        </select>
      </td>
    </tr>
  </table>

  <table class="table table-sm table-striped">
    <tbody>
      <tr ng-repeat="lead in leads">
        <td>
          <a href="#" class="btn btn-sm btn-default" ng-click="detail(lead)">View</a>
        </td>
        <td>

          <!-- COMPANY -->
          <span ng-if="lead.company">
            <span class="label label-default">{{lead.company.name}}</span>
            <p style="margin-top: 8px;" ng-if="lead.contact" nowrap="nowrap">

              {{lead.contact.name}}, {{lead.contact.phone}}, {{lead.contact.email}}
            </p>
          </span>

          <!-- CLIENT -->
          <span ng-if="lead.client">
            <p>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              {{lead.client.name}} , {{lead.client.phone}} ,
              {{lead.client.email}}, {{lead.client.address}}
            </p>
          </span>

          <!-- DUE DATE -->
          <span ng-if="lead.dueDate">
            <p>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <i>Due Date:</i>
                  <strong ng-if="lead.daysLeft > 0">{{lead.daysLeft}} days left</strong>
                  <span ng-if="lead.daysLeft <= 0 ">Past due</span>
                </p>
                {{lead.dueDate | date:'MM/dd/yyyy @h:mma' }}
              </div>
            </div>
            </p>
          </span>
          
          <!-- VISIT -->
          <span ng-if="lead.visit">
            <p>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <i>Visit:</i>
                  <strong ng-if="lead.visitDaysLeft > 0">{{lead.visitDaysLeft}} days left</strong>
                  <span ng-if="lead.visitDaysLeft <= 0 ">Past due</span>
                </p>
                {{lead.visit | date:'MM/dd/yyyy @h:mma' }}
              </div>
            </div>
            </p>
          </span>

          <!-- PRICE -->
          <span ng-if="lead.price && lead.price > 0"><strong>{{lead.price|currency}}</strong></span>

          <!-- EVENT -->
          <p>
            <i><small>{{lead.event}}</small></i>
          </p>

        </td>

        <td>
          Lead #{{lead.id}}, of {{lead.date | date }} - ({{lead.vendor}})
          <p ng-if="lead.title">
            <strong>{{lead.title}}</strong>
            <span ng-if="lead.address"> at {{lead.address}}</span>
          </p>
          <p ng-if="lead.description"><small>{{lead.description}}</small></p>
        </td>

        <td nowrap="nowrap">
          <div class="list-group">
            <span ng-repeat="event in lead.nextEvents" ng-switch="event">
              <a style="padding: 4px" title="{{event.action}}" ng-switch-default ng-click="fireEvent(lead, event)"
                href="#" class="list-group-item">{{event.abbreviation}}</a>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="!leads">
  <app-loading></app-loading>
</div>