
<div class="col-sm-3" ng-if="!hideHeader">
  <h3 style="margin-top: 0px;">
    {{totalLeads}} Leads <a title="Reload" href="#" class="btn btn-sm" ng-click="reload()"><span class="glyphicon glyphicon-repeat" aria-hidden="true" title="Reload"></span></a>
    <a data-toggle="modal" data-target="#lead-new-modal" title="new Lead" href="#" class="btn btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"
      title="Create new Lead"></span></a>
  </h3>
</div>
<div class="col-sm-3">
  <button ng-disabled="BOL" class="btn btn-success btn-sm" ng-click="leadsGetPrevious()">&lt;&lt;</button>
  &nbsp;
  <button ng-disabled="EOL" class="btn btn-success btn-sm" ng-click="leadsGetNext()">&gt;&gt;</button>
</div>
<div class="col-sm-3">
  <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchable_text" ng-change="search(searchable_text)">
</div>
<div class="col-sm-3">
  <div class="form-group">
    <select class="form-control" ng-options="et for et in eventTypes" ng-model="filter" ng-change="filterLeads(filter)">
      <option value="">All</option>
    </select>
  </div>
</div>

<div class="col-sm-12">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">Lead</th>
        <th scope="col" colspan="2">Client</th>
        <th scope="col">Mark Event</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="lead in leads">
        <td><a href="#" class="btn btn-sm btn-default" ng-click="showLeadDetails(lead)">View</a></td>
        <td><i>{{lead.vendor}}</i>&nbsp;&nbsp;&nbsp;<b>{{lead.lastProposalTotal}}</b> <br> <small>{{lead.type}}</small> <br> <small><i>{{lead.date | date:'MMMM dd, yyyy'}}</i> <i><u>{{lead.event}}</u></i> </small>
          <p ng-if="lead.visit">
            Visit scheduled for: <strong>{{lead.visit | date:'MMMM dd, yyyy @hh:mm'}}</strong>
          </p></td>
        <td><b>{{lead.client.name}}</b> <br> <small>{{lead.client.phone}} <br>{{lead.client.email}}
        </small></td>
        <td><small>{{lead.client.address}}<br>{{lead.description}}
        </small></td>
        <td nowrap="nowrap">  
          <span ng-repeat="event in lead.nextEvents">
          <span ng-switch="event">
            <a style="padding: 6px;" ng-switch-when="SCHEDULE_VISIT" data-toggle="modal" data-target="#scheduleModal" href="#" class="btn btn-default btn-sm" title="{{event}}">SV</a>
            <a style="padding: 6px;" ng-switch-when="BEGIN" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}">BE</a>
            <a style="padding: 6px;" ng-switch-when="ASSIGN_TO_ESTIMATOR" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}">AE</a>
            <a style="padding: 6px;" ng-switch-when="CONTACT_QUALIFY" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}">CQ</a>
            <a style="padding: 6px;" ng-switch-when="MARK_AS_VISITED" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}">MV</a>
            <a style="padding: 6px;" ng-switch-when="CREATE_PROPOSAL" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}">CP</a>
            <a style="padding: 6px;" ng-switch-when="BEGIN_WORK" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}">BW</a>
            <a style="padding: 6px;" ng-switch-when="FINISH_WORK" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}">FW</a>
            <a style="padding: 6px;" ng-switch-when="SEND_INVOICE" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}">SI</a>
            <a style="padding: 6px;" ng-switch-when="END_LEAD" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}">EL</a>
            <a style="padding: 6px;" ng-switch-default ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event}}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
          </span></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div ng-include="'lead/list/lead-new-modal.html'"></div>


