<!doctype html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Leads DC</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<!-- BOOSTSTRAP -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
  integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
  crossorigin="anonymous"></script>

<!-- ANGULARJS -->
<script src="/js/angularjs/1.4.3/angular.min.js"></script>
<script src="/js/angularjs/angular-file-upload.min.js"></script>

<!-- JS FILES -->
<script type="module" src="/app/user.js"></script>

<script src="/app/service/proposal-service.js"></script>
<script src="/app/service/user-service.js"></script>
<script src="/app/service/person-service.js"></script>
<script src="/app/service/company-service.js"></script>
<script src="/app/service/lead-service.js"></script>

</head>
<body ng-app="user">
  <div class="container" ng-controller="UserController">
    <div class="" ng-include="'/include/header.html'"></div>
    <div class="" ng-include="'/include/menu.html'"></div> 
    <div class="">









<div class="panel panel-default">
  <div class="panel-heading">Users</div>
  <div class="panel-body">


    <form class="form-horizontal" id="soj2948948rjfk">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" placeholder="Name" ng-model="currentUser.name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="currentUser.email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="currentUser.password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword4" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword4" placeholder="Confirm Password" ng-model="currentUser.confirmPassword">
        </div>
      </div>
      <div class="form-group">
        <label for="input55" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">          
          <select id="input55" class="form-control"  ng-model="currentUser.company.id" ng-options="c.id as c.name for c in companies">
            <option value="choose a value">-- please choose a Company --</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label for="949j4mf9sr"> <input id="949j4mf9sr" name="949j4mf9sr" type="checkbox" ng-model="currentUser.enabled"> Enabled
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="panel panel-default">
            <div class="panel-heading">Profiles</div>
            <div class="panel-body">
              <div class="checkbox" ng-repeat="profile in profiles">
                <label for="id-{{profile}}"> 
                  <input id="id-{{profile}}" title="{{profile}}" ng-value="{{profile}}" value="{{profile}}" type="checkbox" ng-model="currentUser.profiles[$index]"> {{profile}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-default btn-primary" ng-click="saveUser(currentUser)">Save</button>
          <button type="button" class="btn btn-default"  ng-click="resetCurrentUser(currentUser)">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>







    </div>
  </div>
</body>
</html>