<h4>Dear {client.name}, </h4>
<p>We are just writing to see if you have made a decision for your concrete job request. We are really excited about the opportunity to work with you.</p>
<p>If you need more information about our company, please don't hesitate to contact us:</p>
<p>Eddie Lopes, Phone: 571-424-9225, Email: <a mailto="allscontractingdc@gmail.com">allscontractingdc@gmail.com</a></p>
<p>Thank you for your time. We are looking forward to hearing from you.</p>
<p>Regards,</p>
<p><a href="www.allscontractingdc.com">All's Contracting, Inc.</a></p>

<div dir="ltr">
  <p>
    <b><font color="#666666"><em>Eddie Lopes</em></font></b><br>
  </p>
  <p>
    <b style="background-color: rgb(255, 255, 255)"><font color="#666666"><em>Project&nbsp;<font color="#666666">Manager</font></em></font></b>
  </p>
  <p>
    <span style="background-color: rgb(255, 255, 255)"><font color="#666666">703-495-4519 Office</font></span>
  </p>
  <p>
    <span style="background-color: rgb(255, 255, 255)"><font color="#666666">571-436-5611 Cell&nbsp;</font></span>
  </p>
  <p>
    <img width="200" height="62"
      src="https://ci5.googleusercontent.com/proxy/QUiepoyJjymW8MKozBClQ901QguT2wzEHYEi1MOpnRxCLdiyqdKUlvZ2108Xbmrd7vOAvG2ypzC0xjxNH-5JmOFVDVZz_a8sHyIkvsIUnEYw_L79lPc1G56k5lT0iIy7tL7qF-6Qd3DvOdRFMYprpBOeeinP0NjKE_IIv_HAUE0wtgO15SYZi9piSNEjgp6lrcMoI1mKxzM=s0-d-e1-ft#https://docs.google.com/uc?export=download&amp;id=0B3UeD4FEmDlYQklVelhEQWNIWlU&amp;revid=0B3UeD4FEmDlYMExRSEkrUE02ZzZpTFRRTXJUaU1QWXlZMTZnPQ"
      class="CToWUd"><br> <br>
  </p>
</div>


