This is Index in TEMPLATES folder
<!doctype html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Leads DC</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<!-- BOOSTSTRAP -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
  integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<!-- ANGULARJS -->
<script src="/js/angularjs/1.4.3/angular.min.js"></script>
<script src="/js/angularjs/angular-file-upload.min.js"></script>

<!-- JS FILES -->
<script type="module" src="/app/main.js"></script>

</head>
<body ng-app="main">
  <div class="container">
  
    <div><app-header></app-header></div>
    <div><app-menu></app-menu></div>
    
    <div th:switch="${target}">
      <span th:case="'lead'"><app-lead></app-lead></span> 
      <span th:case="'user'" >User</span>
      <span th:case="'company'" >Company</span>
      <span th:case="'client'" >Client</span>
      <span th:case="'*'"    >No case</span>
    </div>
  </div>
</body>
</html>