<!doctype html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Leads DC</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<!-- BOOSTSTRAP -->
<script src="/vendors/bootstrap/3.4.1/jquery-1.12.4.min.js" ></script>
<script src="/vendors/bootstrap/3.4.1/bootstrap.min.js" ></script>
<link rel="stylesheet" href="/vendors/bootstrap/3.4.1/bootstrap.min.css" >
<link rel="stylesheet" href="/vendors/bootstrap/3.4.1/bootstrap-theme.min.css" >

<!-- ANGULARJS -->
<script src="/vendors/js/angularjs/1.4.3/angular.min.js"></script>
<script src="/vendors/js/angularjs/angular-file-upload.min.js"></script>

<!-- JS FILES -->
<script type="module" src="/app/main.js"></script>

</head>
<body ng-app="main">
  <div class="container">
  
    <div><app-header></app-header></div>
    <div><app-menu></app-menu></div>
    
    <div th:switch="${target}">
      <span th:case="'lead'">     <app-lead></app-lead>       </span> 
      <span th:case="'user'" >    <app-user></app-user>       </span>
      <span th:case="'company'" > <app-company></app-company> </span>
      <span th:case="'person'" >  <app-person></app-person>   </span>
      <span th:case="'*'"    >    No case                     </span>
    </div>
    
  </div>
</body>
</html>