<div style="margin: 0; padding: 0">
  <div id="m_2971018182478283828comm-header-spresponsive" style="max-width: 580px; width: 100%; margin: 0 auto; Margin: 0 auto">
    <table
      style="border-collapse: collapse; border-spacing: 0; color: #666666 !important; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important; font-size: 14px !important; margin-top: 20px !important; padding: 0; text-align: left; vertical-align: top; width: 100%">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top">
          <th
            style="Margin: 0 auto; background: #4a8ddb; color: #444; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 1.6; margin: 0 auto; padding: 15px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; text-align: left; width: 564px"><table
              style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
              <tbody>
                <tr style="padding: 0; text-align: left; vertical-align: top">
                  <th
                    style="Margin: 0; color: #444; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.6; margin: 0; padding: 0; text-align: left">
                    <p
                      style="Margin: 0 !important; Margin-bottom: 10px; color: #ffffff; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 1.6; margin: 0 !important; margin-bottom: 10px; padding: 0; text-align: left">Proposal
                      from All's Contracting</p>
                  </th>
                  <th
                    style="Margin: 0; color: #444; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.6; margin: 0; padding: 0 !important; text-align: left; width: 0"></th>
                </tr>
              </tbody>
            </table></th>
        </tr>
      </tbody>
    </table>
    <table
      style="border-collapse: collapse; border-left: 1px solid #4a8ddb; border-right: 1px solid #4a8ddb; border-spacing: 0; color: #666666 !important; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important; font-size: 14px !important; padding: 0; text-align: left; vertical-align: top; width: 100%">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top">
          <th
            style="Margin: 0 auto; color: #444; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.6; margin: 0 auto; padding: 15px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; text-align: left; width: 564px"><table
              style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
              <tbody>
                <tr style="padding: 0; text-align: left; vertical-align: top">
                  <th
                    style="Margin: 0; color: #444; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.6; margin: 0; padding: 0; text-align: left">
                    <p
                      style="Margin: 0; Margin-bottom: 10px; color: #444; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.6; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">Dear
                      {client.name}</p>


                    <p
                      style="Margin: 0; Margin-bottom: 10px; color: #666666; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.3em; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">Thank
                      you for contacting us for your business improvement needs.</p>
                    <p
                      style="Margin: 0; Margin-bottom: 10px; color: #666666; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.3em; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">Please
                      see proposal #{number} attached.</p>
                    <p
                      style="Margin: 0; Margin-bottom: 10px; color: #666666; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.3em; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">If
                      you agree with this proposal's terms and condition, just sign it and send it back to us and we will put your job on our schedule.</p>
                    <p
                      style="Margin: 0; Margin-bottom: 10px; color: #666666; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.3em; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">A
                      reply to this email will be appreciated so we make sure the estimate reached the right customer</p>
                    <p
                      style="Margin: 0; Margin-bottom: 10px; color: #666666; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.3em; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">Feel
                      free to contact us if you have any question.</p>
                    <p
                      style="Margin: 0; Margin-bottom: 10px; color: #666666; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.3em; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">Hope
                      to hear from you soon</p>

                  </th>
                  <th
                    style="Margin: 0; color: #444; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.6; margin: 0; padding: 0 !important; text-align: left; width: 0"></th>
                </tr>
              </tbody>
            </table></th>
        </tr>
      </tbody>
    </table>
    <table
      style="border-bottom: 1px solid #4a8ddb; border-collapse: collapse; border-left: 1px solid #4a8ddb; border-right: 1px solid #4a8ddb; border-spacing: 0; color: #666666 !important; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important; font-size: 14px !important; padding: 0; text-align: left; vertical-align: top; width: 100%">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top">
          <th
            style="Margin: 0 auto; color: #444; font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.6; margin: 0 auto; padding: 0; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; text-align: left; width: 564px"></th>
        </tr>
      </tbody>
    </table>

<div dir="ltr">
  <p>
    <b><font color="#666666"><em>Eddie Lopes</em></font></b><br>
  </p>
  <p>
    <b style="background-color: rgb(255, 255, 255)"><font color="#666666"><em>Project&nbsp;<font color="#666666">Manager</font></em></font></b>
  </p>
  <p>
    <span style="background-color: rgb(255, 255, 255)"><font color="#666666">703-495-4519 Office</font></span>
  </p>
  <p>
    <span style="background-color: rgb(255, 255, 255)"><font color="#666666">571-436-5611 Cell&nbsp;</font></span>
  </p>
  <p>
    <img width="200" height="62"
      src="https://ci5.googleusercontent.com/proxy/QUiepoyJjymW8MKozBClQ901QguT2wzEHYEi1MOpnRxCLdiyqdKUlvZ2108Xbmrd7vOAvG2ypzC0xjxNH-5JmOFVDVZz_a8sHyIkvsIUnEYw_L79lPc1G56k5lT0iIy7tL7qF-6Qd3DvOdRFMYprpBOeeinP0NjKE_IIv_HAUE0wtgO15SYZi9piSNEjgp6lrcMoI1mKxzM=s0-d-e1-ft#https://docs.google.com/uc?export=download&amp;id=0B3UeD4FEmDlYQklVelhEQWNIWlU&amp;revid=0B3UeD4FEmDlYMExRSEkrUE02ZzZpTFRRTXJUaU1QWXlZMTZnPQ"
      class="CToWUd"><br> <br>
  </p>
</div>  </div>
</div>
