<div class="col-sm-3" ng-if="!hideHeader">
  <h2>
    Leads <small>({{totalLeads}})</small>
  </h2>
</div>
<div class="col-sm-5">
  <button ng-disabled="BOL" class="btn btn-success btn-sm" ng-click="leadsGetPrevious()">&lt;&lt;</button>
  &nbsp;&nbsp;&nbsp;
  <button ng-disabled="EOL" class="btn btn-success btn-sm" ng-click="leadsGetNext()">&gt;&gt;</button>
</div>
<div class="col-sm-4">
  <div class="input-group mb-3">
    <select class="custom-select" ng-options="et for et in eventTypes" ng-model="filter" ng-change="filterLeads(filter)">
      <option value="">All</option>
    </select>
  </div>
</div>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col" colspan="1"></th>
      <th scope="col" colspan="1">Lead</th>
      <th scope="col" colspan="3">Client</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="lead in leads">
      <td><button type="button" class="btn btn-outline-success" ng-click="showLeadDetails(lead)">Edit</button></td>
      <td><i>{{lead.vendor}}</i>&nbsp;&nbsp;&nbsp;<small>{{lead.type}}</small> <br> <b>${{lead.fee | currency:""}}</b> 
      <small><i>{{lead.date | date:'MMMM dd, yyyy'}}</i> <i><b>{{lead.event}}</b></i>
      </small></td>

      <td><em>{{lead.client.name}}</em> <small>{{lead.client.cellPhone.slice(0,3)}}-{{lead.client.cellPhone.slice(3,6)}}-{{lead.client.cellPhone.slice(6)}}
          {{lead.client.email}}</small></td>
      <td><small>{{lead.client.address}}<br>{{lead.description}}
      </small></td>
      <td></td>
    </tr>
  </tbody>
</table>
<a type="button" class="btn btn-danger" ng-click="drop()" >Erase all Leads</a>
