
<!-- BOOSTSTRAP -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
crossorigin="anonymous"></script>
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
crossorigin="anonymous">
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
crossorigin="anonymous">
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
crossorigin="anonymous"></script>

<div class="container" style="margin-top: 12px;">
	<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">REQUEST FOR PROPOSAL</h3>
	</div>
	<div class="panel-body">

		<div class="col-sm-6">
			<address>
				To: <strong>{companyName}</strong>
				<br>{companyAddress}
			</address>
		</div>
		
		<div class="col-sm-6">
			<address>
				Attn: <strong>{contactName}</strong>
				<br><abbr title="Phone">P:</abbr> {contactPhone}
			</address>
		</div>

		<div class="col-sm-12">
			<blockquote style="font-size: 0.9em;">
				<p><u><i>Project:</i></u> <strong>{leadTitle}</strong>
					<br><u><i>Location:</i></u> {leadAddress} 
					<br><u><i>Description:</i></u> {leadDescription} 
				</p>
				<p>
					<strong>Bid Date/Time:</strong>
					<br><span style="color: red;">{leadDueDate}</span>
				</p>
				<p>
					<strong>Project Manager</strong>
					<br>Eddie Lopes <abbr style="margin-left: 12px;" title="Phone">P:</abbr> (703) 495-4519
				</p>
			</blockquote>
			<p>Please refer to drawings and specifications attached</p>
			<p>ALL BIDS SHOULD BE PRICED FROM THE DRAWINGS AND SPECIFICATIONS PROVIDED</p>
			
			<table style="border-top: black solid 1px; width: 100%">
				<tr><td>&nbsp;</td></tr>
			</table>
			<p class="text-center">All's Contracting Inc.
				<br><abbr title="Phone">P:</abbr> (703) 495-4519 <abbr style="margin-left: 12px;" title="E-mail">E:</abbr> <a href="mailto:allscontractingdc@gmail.com">allscontractingdc@gmail.com</a>
			</p>

		</div>


	</div>
</div>
</div>