<!doctype html>
<html lang="en">
<head>
  <meta charset="ISO-8859-1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Leads DC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  <!-- BOOSTSTRAP -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
  integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
  crossorigin="anonymous"></script>

  <!-- ANGULARJS -->
  <script src="/js/angularjs/1.4.3/angular.min.js"></script>
  <script src="/js/lead.js"></script>

</head>
<body ng-app="lead">
  <div class="container" ng-controller="LeadController">
    <div class="" ng-include="'/header.html'"></div>
    <div class="" ng-include="'/menu.html'"></div> 
    <div class="">










      <table class="table table-sm table-striped">
        <tr>
          <td>
            <h3 style="margin-top: 0px;">
              {{totalLeads}} Leads 
              <small style="font-size: 0.5em;" ng-if="leadsTotalPrice > 0">
                {{leadsTotalPrice | currency}}
              </small>
              <a title="Reload" href="#" class="btn btn-sm">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true" title="Reload" ng-click="reload(filter)"></span>
              </a>
              <a data-toggle="modal" data-target="#lead-new-modal" title="new Lead" href="#" class="btn btn-sm">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"
                title="Create new Lead"></span>
              </a>
            </h3>
          </td>
          <td>
            <button ng-disabled="BOL" class="btn btn-success btn-sm" >&lt;&lt;</button>
            &nbsp;
            <button ng-disabled="EOL" class="btn btn-success btn-sm" >&gt;&gt;</button>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" >
          </td>
          <td>
            <select class="form-control" ng-options="et.name as et.status for et in eventTypes" ng-model="filter" >
              <option value="">All</option>
            </select>
          </td>
        </tr>
      </table>

      <table class="table table-sm table-striped">
        <tbody>
          <tr ng-repeat="lead in leads">
            <td><a href="#" class="btn btn-sm btn-default" ng-click="showLeadDetails(lead)">View</a></td>
            <td><i>{{lead.vendor}}</i> {{lead.fee}} <b ng-if="lead.price>0">{{lead.price|currency}}</b><br> <small>{{lead.type}}</small> <br> <small><i>{{lead.date | date:'MMMM dd, yyyy'}}</i> <i><u>{{lead.event}}</u></i> </small>
              <p ng-if="lead.visit">
                Visit scheduled for: <strong>{{lead.visit | date:'MMMM dd, yyyy @hh:mm'}}</strong>
              </p></td>
              <td><b>{{lead.person.name}}</b> <br> <small>{{lead.person.phone}} <br>{{lead.person.email}}
              </small></td>
              <td><small>{{lead.person.address}}<br>{{lead.description}}
              </small></td>
              <td nowrap="nowrap">  
                <span ng-repeat="event in lead.nextEvents">
                  <span ng-switch="event.name">
                    <a style="padding: 6px;" ng-switch-when="SCHEDULE_VISIT" data-toggle="modal" data-target="#scheduleModal" href="#" class="btn btn-default btn-sm" title="{{event.action}}">SV</a>
                    <a style="padding: 6px;" ng-switch-when="BEGIN" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">BE</a>
                    <a style="padding: 6px;" ng-switch-when="ASSIGN_TO_ESTIMATOR" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">AE</a>
                    <a style="padding: 6px;" ng-switch-when="CONTACT_QUALIFY" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">CQ</a>
                    <a style="padding: 6px;" ng-switch-when="MARK_AS_VISITED" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">MV</a>
                    <a style="padding: 6px;" ng-switch-when="CREATE_PROPOSAL" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">CP</a>
                    <a style="padding: 6px;" ng-switch-when="BEGIN_WORK" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">BW</a>
                    <a style="padding: 6px;" ng-switch-when="FINISH_WORK" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">FW</a>
                    <a style="padding: 6px;" ng-switch-when="SEND_INVOICE" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">SI</a>
                    <a style="padding: 6px;" ng-switch-when="END_LEAD" ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">EL</a>
                    <a style="padding: 6px;" ng-switch-default ng-click="fireEvent(lead, event)" href="#" class="btn btn-default btn-sm" title="{{event.action}}">{{event.abbreviation}}</a>
                  </span></span>
                </td>
              </tr>
            </tbody>
          </table>
          

          <!-- Modal -->
          <div ng-include="'lead/list/lead-new-modal.html'"></div>






        </div>
      </div>
    </body>
    </html>