
<app-modal span-class="'glyphicon glyphicon-export'" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">E-mail</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group"><div class="col-sm-4">
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" ng-click="cancel(crudLead)">Cancel</button>
                </div><div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="sendEmail()">Send
                        E-mail</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</app-modal>
